<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">

  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="">
      <action name="Execute">
        <execute>pcmanfm</execute>
      </action>
    </item>
    <item label="Terminal" icon="">
      <action name="Execute">
        <execute>terminator</execute>
      </action>
    </item>
    <item label="Editor" icon="">
      <action name="Execute">
        <execute>subl3</execute>
      </action>
    </item>
    <item label="Web Browser" icon="">
      <action name="Execute">
        <execute>firefox www.lifars.com</execute>
      </action>
    </item>
    <item label="Run command" icon="">
      <action name="Execute">
        <execute>~/.config/dmenu/dmenu-bind.sh</execute>
      </action>
    </item>
    <item label="MantOS documentation" icon="">
      <action name="Execute">
        <execute>subl3 /etc/MantOSdocumentation.txt</execute>
      </action>
    </item>    

  <separator/>

  <menu id="Applications" label="Applications">
    <menu id="Accessories" icon="" label="Accessories">
      <item label="About Xfce" icon="">
        <action name="Execute">
          <execute>xfce4-about</execute>
        </action>
      </item>
      <item label="File Manager PCManFM" icon="">
        <action name="Execute">
          <execute>pcmanfm</execute>
        </action>
      </item>
      <item label="Terminator" icon="/usr/share/pixmaps/terminator.png">
        <action name="Execute">
          <execute>terminator</execute>
        </action>
      </item>
  </menu>
  
  <menu id="Development" icon="" label="Development">
    <item label="Bless Hex Editor" icon="/usr/share/pixmaps/bless-48x48.png">
      <action name="Execute">
        <execute>bless</execute>
      </action>
    </item>
    <item label="OpenJDK Monitoring &amp; Management Console" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
      <action name="Execute">
        <execute>/usr/bin/jconsole</execute>
      </action>
    </item>
    <item label="OpenJDK Policy Tool" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
      <action name="Execute">
        <execute>/usr/bin/policytool</execute>
      </action>
    </item>
    <item label="Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
      <action name="Execute">
        <execute>subl3</execute>
      </action>
    </item>
  </menu>

  <menu id="Graphics" icon="" label="Graphics">
    <item label="Feh" icon="/usr/share/feh/images/feh.png">
      <action name="Execute">
        <execute>feh</execute>
      </action>
    </item>
  </menu>

  <menu id="Multimedia" icon="" label="Multimedia">
    <item label="DeaDBeeF" icon="/usr/share/icons/hicolor/72x72/apps/deadbeef.png">
      <action name="Execute">
        <execute>deadbeef</execute>
      </action>
    </item>
  </menu>

  <menu id="Network" icon="" label="Network">
    <item label="Avahi SSH Server Browser" icon="">
      <action name="Execute">
        <execute>/usr/bin/bssh</execute>
      </action>
    </item>
    <item label="Avahi VNC Server Browser" icon="">
      <action name="Execute">
        <execute>/usr/bin/bvnc</execute>
      </action>
    </item>
    <item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
      <action name="Execute">
        <execute>firefox</execute>
      </action>
    </item>  
    <item label="TeamViewer 10" icon="/opt/teamviewer/tv_bin/desktop/teamviewer.png">
      <action name="Execute">
        <execute>/opt/teamviewer/tv_bin/script/teamviewer</execute>
      </action>
    </item>
  </menu>

<!--
Enable if you want to use LibreOffice's main suite
-->
  <menu id="Office" icon="" label="Office">
    <item label="LibreOffice Base" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-base.png"><action name="Execute"><execute>libreoffice --base</execute></action></item>
    <item label="LibreOffice Calc" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-calc.png"><action name="Execute"><execute>libreoffice --calc</execute></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-draw.png"><action name="Execute"><execute>libreoffice --draw</execute></action></item>
    <item label="LibreOffice Impress" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-impress.png"><action name="Execute"><execute>libreoffice --impress</execute></action></item>
    <item label="LibreOffice Math" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-math.png"><action name="Execute"><execute>libreoffice --math</execute></action></item>
    <item label="LibreOffice Writer" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-writer.png"><action name="Execute"><execute>libreoffice --writer</execute></action></item>
    <item label="LibreOffice" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-startcenter.png"><action name="Execute"><execute>libreoffice</execute></action></item>
    <item label="LibreOffice Math" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-math.png"><action name="Execute"><execute>libreoffice --math</execute></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-draw.png"><action name="Execute"><execute>libreoffice --draw</execute></action></item>  
  </menu>
<!--
-->

  <menu id="Settings" icon="" label="Settings">
    <item label="Customize Look and Feel" icon="">
      <action name="Execute">
        <execute>lxappearance</execute>
      </action>
    </item>
    <item label="Desktop Preferences" icon="">
      <action name="Execute">
        <execute>pcmanfm --desktop-pref</execute>
      </action>
    </item>
    <item label="Keyboard and Mouse" icon="">
      <action name="Execute">
        <execute>lxinput</execute>
      </action>
    </item>
    <item label="Monitor Settings" icon="">
      <action name="Execute">
        <execute>lxrandr</execute>
      </action>
    </item>
    <item label="Network Connections" icon="">
      <action name="Execute">
        <execute>nm-connection-editor</execute>
      </action>
    </item>
    <item label="Notifications" icon="/usr/share/icons/hicolor/48x48/apps/xfce4-notifyd.png">
      <action name="Execute">
        <execute>xfce4-notifyd-config</execute>
      </action>
    </item>
    <item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png">
      <action name="Execute">
        <execute>obconf</execute>
      </action>
    </item>
    <item label="Panel tint2" icon="/usr/share/pixmaps/tint2conf.png">
      <action name="Execute">
        <execute>tint2conf</execute>
      </action>
    </item>
    <item label="Preferred Applications" icon="">
      <action name="Execute">
        <execute>libfm-pref-apps</execute>
      </action>
    </item>
  </menu>

  <menu id="System" icon="" label="System">
    <item label="Avahi Zeroconf Browser" icon="">
      <action name="Execute">
        <execute>/usr/bin/avahi-discover</execute>
      </action>
    </item>y
    <item label="File Manager PCManFM" icon="">
      <action name="Execute">
        <execute>pcmanfm</execute>
      </action>
    </item>
    <item label="Terminator" icon="/usr/share/pixmaps/terminator.png">
      <action name="Execute">
        <execute>terminator</execute>
      </action>
    </item>
    <item label="Wireshark" icon="/usr/share/icons/hicolor/16x16/apps/wireshark.png">
      <action name="Execute">
        <execute>wireshark-gtk</execute>
      </action>
    </item>
  </menu>

  </menu>
    <menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
    <menu execute="~/.config/openbox/pipemenus/obrecent.sh ~/" id="recent" label="Recent Files"/>
    <menu execute="~/.config/openbox/pipemenus/obkeypipe" id="keybinds" label="Openbox Keys"/>
    <menu execute="~/.config/openbox/pipemenus/fehpipe" id="fehback" label="Wallpapers"/>
    <menu id="Preferences" label="Preferences">
    <menu id="Screenshot" label="Take Screenshot">
    <item label="Now">
      <action name="Execute">
        <execute>scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'</execute>
      </action>
    </item>
    <item label="In 10 Seconds...">
      <action name="Execute">
        <execute>scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'</execute>
      </action>
    </item>
    <item label="Selected Area... click &amp; drag mouse">
      <action name="Execute">
        <execute>scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'</execute>
      </action>
    </item>
  </menu>
  <menu id="Openbox Settings" label="Openbox Settings" icon="">
    <item label="Reconfigure Openbox">
      <action name="Reconfigure" />
    </item>
    <item label="Openbox Configuration Manager">
      <action name="Execute">
        <execute>obconf</execute>
      </action>
    </item>
    <item label="Configure autostarted apps">
      <action name="Execute">
        <execute>subl3 /home/eugene/.config/openbox/autostart</execute>
      </action>
    </item>
    <item label="Edit rc.xml">
      <action name="Execute">
        <execute>subl3 /home/eugene/.config/openbox/rc.xml</execute>
      </action>
    </item>

    <separator/>

    <item label="Generate a pipe menu">
      <action name="Execute">
        <execute>/usr/bin/obmenu-generator -p</execute>
      </action>
    </item>
    <item label="Generate a static menu">
      <action name="Execute">
        <execute>/usr/bin/obmenu-generator -s</execute>
      </action>
    </item>
    <item label="Generate a pipe menu with icons">
      <action name="Execute">
        <execute>/usr/bin/obmenu-generator -p -i</execute>
      </action>
    </item>
    <item label="Generate a static menu with icons">
      <action name="Execute">
        <execute>/usr/bin/obmenu-generator -s -i</execute>
      </action>
    </item>

    <separator/>

    <item label="Edit menu.xml">
      <action name="Execute">
        <execute>subl3 /home/eugene/.config/openbox/menu.xml</execute>
      </action>
    </item>
    <item label="Edit the schema file">
      <action name="Execute">
        <execute>subl3 /home/eugene/.config/obmenu-generator/schema.pl</execute>
      </action>
    </item>
    <item label="Edit the configuration file">
      <action name="Execute">
        <execute>subl3 /home/eugene/.config/obmenu-generator/config.pl</execute>
      </action>
    </item>

    <separator/>

    <item label="Regenerate configuration file">
      <action name="Execute">
        <execute>/usr/bin/obmenu-generator -r</execute>
      </action>
    </item>
  </menu>
</menu>

  <separator/>

    <menu id="Exit" label="Exit">
    <item label="Exit" icon="">
      <action name="Exit"/>
    </item>
    <item label="Reboot" icon="">
      <action name="Execute">
        <execute>systemctl reboot</execute>
      </action>
    </item>
    <item label="Shutdown" icon="">
      <action name="Execute">
        <execute>systemctl poweroff</execute>
      </action>
    </item>
    </menu>
  </menu>
</openbox_menu>
