[Desktop Entry]
Name=tcpdump
Icon=utilities-terminal
Comment=Powerful command-line packet analyzer
TryExec=/usr/bin/tcpdump
Exec=sh -c '/usr/bin/tcpdump;$SHELL'
StartupNotify=true
Terminal=true
#Terminal=false
Type=Application
Categories=X-MantOS;
